@media (max-width: 480px) and (orientation: portrait) {
        .panel {
            /* height: 380px;*/ /*460-80*/
            width: 320px;
            
        }
		/*        
        .content {
	    	width: 270px;
	        padding: 25px;
	        border: 1px solid #f00;
        }
        */     
        
    .no_radius {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;    
	}   
    
	.item_box {
	    background-color: white;
		border: 1px solid #EEE;
		line-height: 1.5em;
		padding: 15px;
		margin: 20px;
		float: left;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width: 250px;
		box-shadow: 2px 1px 6px #EFEFEF -moz-box-shadow:2px 1px 6px #F2F4F3;
		-webkit-box-shadow: 2px 1px 6px #F2F4F3;
		margin-top: 10px;
		display: block;
	}
	
	.req_addr {
		color:#63b2d9;
	}

	.datetime {
		color:#63b2d9;
		font-family: Georgia;
	}

	.req_desc {
		color:#63b2d9;
		font-size: 13px;
		display: block;
		margin-bottom: 5px;
	}
}